@charset "utf-8";


body {
    background-color: mistyrose;
    margin-left: 7%;
    margin-right: 7%;
    border-left: 1em solid rosybrown;
    padding-left: 1em;
}

code, pre {
    font-family: Programma, mono;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
}

dfn, dt {
    font-family: "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: normal;
}

dl {
    margin-left: 40pt;
}

dd {
    margin-bottom: 1em;
}

h1 {
    border-color: black;
    border-style: solid;
    border-width: 0 0 2pt;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18pt;
    font-weight: bolder;
    font-variant: small-caps;
    letter-spacing: 4pt;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}

h2 {
    border-color: black;
    border-style: solid;
    border-width: 0 0 1pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    font-variant: normal;
    letter-spacing: 3pt;
    margin-top: 2em;
    text-align: left;
    padding-bottom: 0px;
}

h3 {
    border-color: black;
    border-style: solid;
    border-width: 0 0 1pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2pt;
    padding-bottom: 0px;
    text-align: left;
    width: 50%;
}

h4 {
    font-family: Programma, mono;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-bottom: 0px;
    text-align: left;
    white-space: pre-wrap;
}

p {
    margin-left: 10pt;
    font-family: "Palatino Linotype", Palatino, serif;
    font-size: 12pt;
}

li {
    font-size: 12pt;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

pre {
    margin-left: 40pt;
}

small {
    font-size: 8pt;
    font-style: italic;
    margin-left: 2pt;
    margin-right: 0.75pt;
}

table {
    border: 0;
    cellpadding: 0;
    float: right;
    margin: 10pt;
}

th {
    background-color: thistle;
    border: black solid 1px;
    padding-left: 10pt;
    padding-right: 10pt;
    text-align: center;
    vertical-align: top;
}

td {
    background-color: white;
    border: black solid 1px;
    padding-left: 10pt;
    padding-right: 10pt;
    vertical-align: top;
}

table.bits {
    float: none;
}

table.bits th {
    background-color: inherit;
    border: 0;
    font-weight: lighter;
    padding-left: 3pt;
    padding-right: 3pt;
    text-align: justify;
}

/* This terrible hack instead of text_align: force */

table.bits th:after {
    content: "";
    display: inline-block;
    height: 0;
    width: 100%;
}

table.bits td {
    background-color: white;
    border: 2pt solid black;
    text-align: center;
}

var {
    font-family: "Palatino Linotype", Palatino, serif;
    font-style: italic;
    font-weight: normal;
}

.mistyhead {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: left;
}

.rule {
    font-family: "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-left: 40pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    page-break-inside: avoid;
    white-space: pre;
}
