body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}
pre.code {
    font-family: "Courier New", monospace;
    border: 1px solid;
    display: none;
}
div.code {
    display: none;
}
div.format {
    border: 1px dashed;
    padding: 9px;
    white-space: pre;
    font-family: "Courier New", monospace;
}
input {
    text-align: right;
}
span.u {
    text-decoration: underline;
}
h1 {
    font-size: 14pt;
}
@media (prefers-color-scheme: dark) {
    body, * {
        background-color: #121212;
        color: #888;
    }
}
/*
button {
    width: 66px;
}
*/
