td {
    padding-left: 4px; /* was 6px */
    padding-right: 4px;
}
tr.hdr {
    background-color: #a0caff; /* light blue */
}
td.sortableHdr:hover {
    background-color: #b0daff;
}
tfoot td {
    background-color: #a0caff; /* light blue */
}
