/*
.popup {
    position: absolute; 
    z-index: 1000; 
    left: 4px; 
    top: 4px; 
    background-color: white; 
    padding: 8px; 
    border: 1px solid #ddd;
} 
*/
.title {
    font-weight: bold;
}
.title:hover {
    background-color: #e8e8e8;
}
.rs_closed {
    display: none;
}
.rs_toggle {
    right: 20px;
}
.hoverDiv {
    cursor: pointer;
    padding: 5px;
}
.hoverDiv:hover {
  background-color: #f0f0f0;
}

.rockstarButtons a {
  font-size: 18px; 
  padding: 4px; 
  cursor: pointer;
}

.rockstarButtons a svg {
  height: 20px; 
  vertical-align: text-top;
}
