/*
.popup {
    position: absolute; 
    z-index: 1000; 
    left: 4px; 
    top: 4px; 
    background-color: white; 
    padding: 8px; 
    border: 1px solid #ddd;
} 
*/
.title {
    font-weight: bold;
}
.title:hover {
    background-color: #e8e8e8;
}
.rs_closed {
    display: none;
}
.rs_toggle {
    right: 20px;
}
.hoverDiv {
    cursor: pointer;
    padding: 5px;
}
.hoverDiv:hover {
  background-color: #f0f0f0;
}

.info-tooltip {
  background: azure;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 15px;
  align-items: center;
  margin: 0 15px 15px 15px;
}

.info-tooltip .info-tooltip-icon {
  font-size: 1.5em;
  color: steelblue;
}

.data-list-table {
  border: 1px solid #ddd;
}
